<#include "header.html">

<div class="container-fluid">

<div class="btn-group" style="margin-top:0.5rem;">
	<button class="btn btn-primary" onclick="runC()">Run C</button>
	<button class="btn btn-primary" onclick="runJava()">Run Java</button>
	<button class="btn btn-primary" onclick="runJavaScript()">Run JavaScript</button>
</div>

<div class="btn-group" style="float:right; margin-top:0.5rem;">
	<button class="btn btn-primary" onclick="switchToLight()">Light</button>
	<button class="btn btn-primary" onclick="switchToDark()">Dark</button>
</div>
	
	<textarea class="form-control" rows="8"
			  id="editor" spellcheck="false"
>#include <stdio.h>
int main(void) {
	printf("Welcome to C");
	return 0;
}
</textarea>
<pre id="result"></pre>
</div>

<style>
	textarea.form-control {
		font-family: monospace;
		font-size: 1.5rem;
		margin: 0.5rem 0;
		-moz-tab-size: 4;
		tab-size: 4;
		height: calc(100vh - 10rem);
		line-height: 1.5rem;
	}
	
	#result {
		margin-top: 1rem;
		padding: 0.5rem;
		background: #def;
	}
	
	.btn-primary {
		transition: opacity 0.1s linear;
	}
	
	.btn-primary:hover {
		opacity: 0.8;
	}
</style>
	
<script>
	switchToLight()
	
	function switchToLight() {
		document.querySelector('body').style.background = 'white'
		document.querySelector('textarea').style.background = 'white'
		document.querySelector('textarea').style.color = '#222'
		document.querySelector('textarea').style.border = '2px solid #ccc'
		document.querySelector('pre').style.background = '#eee'
		document.querySelector('pre').style.color = '#222'
		
		var all = document.querySelectorAll('.btn-primary')
		for (var i of all) {
			i.style.background = '#789'
			i.style.border = '1px solid #456'
		}
	}
	
	function switchToDark() {
		document.querySelector('body').style.background = '#222'
		document.querySelector('textarea').style.background = '#222'
		document.querySelector('textarea').style.color = '#0F0'
		document.querySelector('textarea').style.border = '2px solid #666'
		document.querySelector('pre').style.background = '#444'
		document.querySelector('pre').style.color = 'white'
		
		var all = document.querySelectorAll('.btn-primary')
		for (var i of all) {
			i.style.background = '#777'
			i.style.border = '1px solid #ccc'
		}
	}
	
	document.getElementById("editor").onkeydown = function(e) {
		if(e.keyCode == 9 || e.which == 9) {
			e.preventDefault()
			var s = this.selectionStart
			this.value = this.value.substring(0, this.selectionStart) + "\t" +
							this.value.substring(this.selectionEnd)
			this.selectionEnd = s + 1
		}
	}
	
	function runC() {
		var result = document.getElementById("result")
		result.innerText = '...'
		var editor = document.getElementById("editor")
		var data = new FormData()
		data.append('code', editor.value)
		fetch("/run-c", {method: "post", body: data})
		.then( r => r.json() )
		.then( d => result.innerText = d.result )
	}
	
	function runJava() {
		var result = document.getElementById("result")
		result.innerText = '...'
		var editor = document.getElementById("editor")
		var data = new FormData()
		data.append('code', editor.value)
		fetch("/run-java", {method: "post", body: data})
		.then( r => r.json() )
		.then( d => result.innerText = d.result )
	}
	
	function runJavaScript() {
		var result = document.getElementById("result")
		result.innerText = ""
		var editor = document.getElementById("editor")
		try {
			eval(editor.value)
		} catch (error) {
			write(error.name + ": " + error.message)
//			write(error.lineNumber)
//			write(error.columnNumber)
//			write(error.fileName)
//			write(error.stack)
		}
	}
	
	function write(o) {
		var result = document.getElementById("result")
		if (typeof o == 'string') {
			result.innerText += o + "\n"
		} else {
			result.innerText += JSON.stringify(o) + "\n"
		}
	}
	
	
</script>
<#include "footer.html">
